<div id ="post-{{id}} " class = "card">
    <img class= "card-img "  src ="{{thumbnail}}"  alt="Missing Image">
    <div class="card-body">
        <p class = "card-title"> {{title}}</p>
        <p class = "card-text">{{description}}</p>
        <br>
        <a href="/post/{{id}} " class= "anchor-button bounce"> View More </a>

    </div>
</div>