<div id = "post-container">
    <img id="image-post" src ="/{{currentPost.path}} ">
    <div id ="info-message">
        <div id ="info">
            <header id =" image-post-title">
                <h2 id ="image-post-title-text">{{currentPost.title}}
                </h2>
            </header>
            <br></br>
            <div id ="image-post-author" class="info-tags"><label id ="adjust">   Username : {{currentPost.username}}</label></div>
            <br></br>
            <div id ="image-post-date" class="info-tags"><label id ="adjust">   Posted on : {{currentPost.created}}</label>{</div>
            <br></br>
            <div id ="image-post-description" class="info-tags"><label id ="adjust">   Description : {{currentPost.description}}</label></div>
        </div>
        <div id ="message">
             <br></br>
            <header id ="comment-title">
                <h2> Comment</h2>
            </header>
            <div id = "message-list">
            </div>
        <br>
        
        <div id ="comment-box1">
            <textarea id="comment-box"></textarea>
            <i id="comment-box-button" class="hello" aria-hidden="true" style="text-align: center;"></i>
        </div>
        </div>
    </div>

    
</div>